{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome to Scissors and Razors</h1>
        <p>Contact: 9960628728</p>
        <a href="/admin/logout"><button class="btn btn-primary">Logout</button></a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New Entry</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/admin/entry" class="btn btn-primary">New Entry</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/admin/search" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New Enquiry</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/admin/enquiry" class="btn btn-primary">New Enquiry</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Enquiry</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/admin/view" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}