<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vote4u</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning md-3 pd-3" style="background-color: #e9ecef;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">vote4u
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Voter
                        </a>

                        {% if 'voter' in session %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link" href="/voter/home">Home</a>
                            <a class="nav-link" href="/voter/profile">Profile</a>
                            <a class="nav-link" href="/voter/logout">Logout</a>
                        </div>
                        {% else %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link" href="/login">Login</a>
                            <a class="nav-link" href="/register">Register</a>
                        </div>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer class="jumbotron text-center" style="margin-bottom: 0rem">
        <div class="container">
            <div>
                Copyright &copy; 2019 <strong>SAGA Inc.</strong> All Rights Reserved | "vote4u" Blockchain based
                E-Voting System
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>